body{
    background-color: rgb(88, 88, 93);
}

h3{
    text-align: center;
    color: aliceblue;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid { 
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img{
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}